<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Share Your Zombie</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <!-- Latest compiled and minified CSS -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 -->  </head>
  <body>
          <table width="60%">
            <tbody><tr><td>
            <table align="center" cellpadding="5">
            <tbody bgcolor="BLACK">
              <tr><td>

              <!-- IMAGE BEGINS HERE -->
                <font color="WHITE">
                  <pre>                                                                                
                                                                                                
                                       .----::-.                                        
                                    .:/::-::/:://:.                                     
                                 `:+/::--:-::+:::://-`                                  
                               `:+/::::::::://o:::::/+/.                    `.-:::--`   
                             `:+//:///:::::::/++::::::://---`        `.-/+osooosy+++o/` 
                            .++////:::::::::///s//::::::/+sssso/`.:/oooosssssssss+//+o. 
                           -o/++//::::-:::::///+s/+//////++yhhhhyssyssyyyyyyyyyyys++o:  
                       `-/sy++////::::::::://///o+//////+++oyhhyyyhhhhhhhhyssoo+//:-.   
                      `+syho+///////::::::::////+s/////////+shyyhhhhyo+:-.```           
              `       /ssyys+////+//::::::::///++y+////////+sshoyhyyysso+/:-`           
             .....``  hysyyso+///////::::://++///os//++++++sssyoshhhhhyysoosss+:.`      
              ...`.---yhssyyso+/////////+////////+y+/////+syyyyoyhyhoshhhyysoossss/.`   
               `.:::++sdhssyysso+////+///////////+yo///+osssshssydyys/++yyhhysssys+++.  
                 .+o//+yhhyysyysso+//////////////+yooooossssyssyhdhsss++oosyhhyys+//+:  
                `/+///+sydhhssyyyyso++//////+++//+ysssssysyyssyhdhhhoss+oosssyhyo+++/`  
               .++/////+sNmhhysssyyysssoo+++/////shssssyyyysyhhhyhhhy+hsooossyyy/...    
              .o+/:::::/+hMNhhhhsssssyyyyssssooooyyyyyhhyyyyhhhssydhhsshssssyyyyy-      
             .so+/::::/++ohMdyhhhhyssossyyyyyyyyyyyyyyyyyhhhhyssoshhhhoyhysyyyyys+      
            .sss+//:///hmNmmNyssyyhhhhhyyysssssysyyyyhhhhhysoo++/ssdhhyshhyyyyyss-      
           `sysso++/::sMMMMsyo+ossyyyyhhdddhhhhhhhhhhhhyyso+////++syhhhyyhyyyyss+       
           /yyssso////+dNmh+++++//+sddmmNNNmdyyyhyyyssso+++/////+/oshhhhyhyyyyso`       
          `oyyyssso+////++/////////oshmmyoooooyyso+++s+////+/::-::/+shhhydyyyso`        
           .oyyssssso++++///////////sNMMm////sys+///+oo///+/-.``````./yhhhhss+`         
            `+sssssssso+//////////++hMMMN+/+sso+/////+s+///::-.--::++ohhhhho:`          
              :sssyysssso+sh+//+++//+hdds/oyo++///////oo///://///++sshhhhho`            
               ./sssssssshdyhoyyy//////+oss+///+//////+s//////+//+osyhhhhd:             
                 .+ssssssmyymh++m////+oss++///:::::////s++////++/sssyyhhhy`             
                   .+sssyyyssssomo+osso+//+//:::/::////os++////oossyyhyys.              
                     .+ssyyyysssmhssss+///+///:://:////+y++///+ssyyyy:..                
                       `:ssyyyyyydsssyssooo//////o/////+so+/+osyyyss+                   
                         :+osssyyyssysssssyso++//o/////+so+osssyysso`                   
                         .-:/o+ssyyyyyssssysssssoso++++oyysssyyyyso`                    
                          -`.:``-/+ssssyyyyssssssyysssssyyyyyysys/`                     
                          `..`     `-/ossysssyysyyysyyyyyyyyyss+.                       
                                       .:+ssssssssysssyyyyyss+.                         
                                          .++oosssysssssss+:`                           
                                          `:---/. ``.....`                              
                                           -``-`                                        
                                           `.`         
                                          _
                            __      _____| |__   ___  _ __ ___   ___
                            \ \ /\ / / _ \ '_ \ / _ \| '_ ` _ \ / _ \
                             \ V  V /  __/ | | | (_) | | | | | |  __/
                              \_/\_/ \___|_| |_|\___/|_| |_| |_|\___|                            
                  </pre>
                </font>
            <!-- IMAGE ENDS HERE -->
                </td></tr>
                <tr><td>
                  <form action="" method="post" style="position: relative;left: 40%";> 
                      <p>
                          <input type="text" name="name" autofocus>
                      </p>
                      <p>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <input type="submit" value="send love" style="background-color: #FFF;">
                      </p>
                  </form>
                </td></tr>
              </tbody>
            </table>

           </td></tr></tbody>
        </table>
           
<!--     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 -->  </body>
</html>