<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>&#9829; WeHome</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <!-- Latest compiled and minified CSS -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 -->  </head>
  <body>
    <center>
      <table width="98%">
        <tbody><tr>
          <td>
      <table align="center" cellpadding="10">
      <tbody style="max-width: 100%"><tr bgcolor="black"><td>

      <!-- IMAGE BEGINS HERE -->
      <pre><span class="ascii">                                                        
         ```/. `                                                                                 
      .-dh-.d+.m+.m/                                                                                
      :s/+s:+soysos.                                                                                
      -N-+m/ssshysso`                                                                               
      `dohs`+osNyoo-                                                                                
       .+NyoN:d:d+yy                               :oyys+-`                                         
      +s+:`:N-d:d+yy                            `+hoo+s:/oys:                                       
           .+.:`:-+-                           -hd+:s+o-:::+dy/`                                    
        `+/                                   +h/y::s++--::-/soy+`                                  
       `omysyhsssss-                        `yy//s::s/o------+o:+h+`                                
      .yd.  sm`                            .hs///s-:s::-------o/::ym+`                              
      -/::-:ym:-----`                     -do/:::s--s:----------:yy+yd/                             
      -:::::hm/:::::`                    :d+//:::/--o/---------+hosso/oh/                           
            sm`                         /dhy/:::::--/o--:::::/hy+o:::::/sy-                         
            sm`                        +myosdo:::::::+:::::/yh/::::::::::/yy.                       
            -/`                       +h/ossoyh+::::::::::sh+::::::/+syy+:/+ho`                     
       .s+---`+s----`                +d//////ooyy/:::::/yh+::::::odNMNmmy:://oh/                    
      .dy/md/sm+ym+/`               +h////::::/o+yh+/shhs/:::::omMNy+::::::////sy-                  
      -ysosh/-ossyy:               +h//++++++//::::smho/::::::hMNy:::/o+/::::///+ho`                
      :Nsoodh-N: `yh              +h//hMMMMMMMMNmhs::+hy/:::::oy+::/mMMMMh/:::////oh:               
      :No++dy-N:  yh             /d////++////+osydy::::/syo:::::::-yMMMMMMm/:://///+hs`             
      :N:-so`.N:``yh            :d/////::+hmmds:::::::::::+yyo:::::oMMMMMMMo:::://///sh:            
      :N+:oN/.N:/oo-           -d+//////+NMMMMMd/::::::::::::oyyo:::sNMMMMm/::::////+++ho`          
       --:-.-`-`              .do///////+NMMMMMMy:::::::::::////oyyo//oyyo/::::://///+++yh.         
       `s+    oo             `yy+///////:yMMMMMMy:::::osyyyssohy:::+yys+::::::::////////+od:        
      `:hs-/oodmoso`         oh+++////////odNNmy/::::/m/------oh::::::/oyyo/:::::///////++od+       
      /dhsm:  yh :N.        :m++++////////::::::::::::sh------oh::::::::::+syyo/:://////+++oho      
      oshs/s//dd/sN+`      .ds++++/////////::::::::::::hy-----sy::::::::::::::+yyys+////+++oodo     
       `hs`..:mdo-..`      sh++++//////////:::::::::::::yy:--:d+::::::::::::::::+++syyyo++ooosm-    
       `hs  .hh:mo        -mo+++++////////////:::::::::::ohssho::::::::::::::::///oososyhhhyssm:    
       `hs`+do` -dh-      yyoo++++//////////////////////://///::::::::/:::://///+ooossyhhdddy+-     
        ..`..    `..     -msoooo++++//////////////////////////////////+oooooooososssyhyso:.         
       /h:`-hd/`/d/`     +dyyyyyssso++++///////////////////////////////////+osyyyso/-`              
      /mhd/my+Nomdd/     +myyyyyssoso++++++++++++++++////////////++osyyysso+:-`                     
      .hys+ms+N/yhs+     `+yhhhyyyyyyyyyssssyo++++++++oossyyyyysso+/-.`                             
      :so+o/yh+:so+o`        `-:/oossyyyyyyyyyyyysssoo+/:-.``                                       
      :oosyshNsyyoo+`                                                                               
        /ms`om`:ds.                                                                                 
      .oy:  od` `oy/`                                      
                             _
                __      _____| |__   ___  _ __ ___   ___
                \ \ /\ / / _ \ '_ \ / _ \| '_ ` _ \ / _ \
                 \ V  V /  __/ | | | (_) | | | | | |  __/
                  \_/\_/ \___|_| |_|\___/|_| |_| |_|\___|               
      </span></pre></font>
      <!-- IMAGE ENDS HERE -->
            </td></tr>
            <tr><td>
                <form action="" method="post" > 
                  <span style="position: relative;left: 20%">
                    <p>
                        <input type="text" name="name" placeholder="Name" autofocus>
                    </p>
                  </span>
                  <span style="position: relative;left: 23%">
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" value="send love" style="background-color: #FFF;">
                    </p>
                  </span>
                </form>
              </td></tr>
          </tbody></table>

        </td></tr>
      </tbody></table>
    </center>
           
<!--     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 -->  
  </body>
</html>