<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>&#9829; WeHome</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <!-- Latest compiled and minified CSS -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 -->  </head>
  <body>
    <center>
      <table width="98%">
        <tbody><tr>
          <td>
      <table align="center" cellpadding="10">
      <tbody style="max-width: 100%"><tr bgcolor="black"><td>

      <!-- IMAGE BEGINS HERE -->
      <pre><span class="ascii">                                                        
                            `..-.                               
                         .:::-:/:/:-`                           
                      `:+::-:::/+:::/:.                         
                    `:+/:::::::/++:::://-``        `-://+os+//. 
                   -+///::::::://o//::::/oyso/.-/+ossssssss+/+/ 
                 ./+/+/:::::::////s/////++ohhyyyyyyyyyyyyyyo+/  
               -sys+////:/:::::///o+//:///+shhhhhyo+/:-.`       
        ``    .ysys+/////::::::///+s//////+sysyhyyyo+/:.`       
        ....../hsyyo+//////////////s+//+++syyoyhhyhyysosso/-    
         `--:/odysyyso/////////////so///ossyysyhyo+oyhyyosys+/  
           /+//shhysyyso+//////////ossoosssysyhhyss+ooyyhyo//o` 
          :+///+hmhyssyysso+///////sysyyyyyyhhhhhssooossyy+::.  
        `++/:::/oNNhhhsssyyyyssooooyyyyhyyyhhyshhhsysosyyys`    
       `oo+/::/+syNdyyhhyysssyssyyyyysyyhhhysooshhyshsyyyys.    
       oss++/::NMMdhoosyyhhhhhhhyhhhhdhhyso+//+syhhyhyyyys+     
      /yyss+///hNd++++/+sdmmNNmhyyhyysoo+++///++shhhyhyyso`     
      :yyysso////////////omms/++syo//+o////:....:+yhhdyso`      
       -sssssso+////////+dMMm//ss+////s+///-..--:/shhds:        
        `+ssysssosh+/++//+yhooso++////+o//:////+oydhhh`         
          -osssssdydysh///+oso+///::///s+////+/ssyhhho          
            -ossyysssod+ooso/+//::/:://oo+///oosyyhho`          
              .+syyyyymysso+/+///:/:///+s+//+syyss``            
                `+sssyyysysssso++//+///+s++ssyyss.              
                 --/+oyyyysssyssssss+++oysssyyys.               
                 `..` `-/osssyysssyysssyyyyysy+`                
                   `      .:+ssssssyssyyyyss+.                  
                             `/++ooooosss+:`                    
                              -..-`                             
                              `.`                  
                             _
                __      _____| |__   ___  _ __ ___   ___
                \ \ /\ / / _ \ '_ \ / _ \| '_ ` _ \ / _ \
                 \ V  V /  __/ | | | (_) | | | | | |  __/
                  \_/\_/ \___|_| |_|\___/|_| |_| |_|\___|               
      </span></pre></font>
      <!-- IMAGE ENDS HERE -->
            </td></tr>
            <tr><td>
                <form action="" method="post" > 
                  <span style="position: relative;left: 35%">
                    <p>
                        <input type="text" name="name" placeholder="Name" autofocus>
                    </p>
                  </span>
                  <span style="position: relative;left: 37%">
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" value="send love" style="background-color: #FFF;">
                    </p>
                  </span>
                </form>
              </td></tr>
          </tbody></table>

        </td></tr>
      </tbody></table>
    </center>
           
<!--     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 -->  
  </body>
</html>